.hero {
    text-align: center; padding: 5rem 2rem; background: #111;
    border-bottom: 2px solid rgb(161,255,20);
}
        
.hero h1 { 
    font-size: 3rem; color: rgb(161,255,20); margin-bottom: 1rem; 
}

.hero p { 
    font-size: 1.2rem; 
    max-width: 700px; 
    margin: 0 auto; 
    line-height: 1.6; 
    color: #ccc; 
    text-align: justify;
    
}

/* Developer Cards */
.team-section { 
    padding: 4rem 2rem; max-width: 1200px; margin: auto; 
}

.team-section h2 { 
    text-align: center; font-size: 2.5rem; color: rgb(161,255,20); margin-bottom: 3rem; 
}

.team-grid { 
    display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 2rem; 
}

.team-card {
    background: #1a1a1a; border-radius: 10px; overflow: hidden; text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; padding-bottom: 1rem;
}
.team-card:hover { 
    transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,255,0,0.5); 
}

.team-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background: #000;
    border-bottom: 2px solid rgb(161,255,20);
}

.team-card h3 {
    margin: 1rem 0 0.5rem; color: rgb(161,255,20); 
}
.team-card p { 
    color: #ccc; font-size: 0.95rem; 
}

/* Project Description */
.project-desc { 
    padding: 4rem 2rem; background: #111; border-top: 2px solid rgb(161,255,20); border-bottom: 2px solid rgb(161,255,20); 
}

.project-desc h2 { 
    text-align: center; font-size: 2.5rem; color: rgb(161,255,20); margin-bottom: 2rem; 
}

.project-desc p { 
    max-width: 800px; 
    margin: 0 auto; 
    color: #ccc; 
    line-height: 1.6; 
    font-size: 1.1rem; 
    text-align: justify;
}