<header class="navbar">
    <!-- Logo -->
    <div class="logo">
        <a href="/index.html">
            <img src="/assets/images/artisanLogo.png" alt="EMC Artisan Logo">
        </a>
    </div>

    <div class="search-container">
        <input type="text" placeholder="Search" class="search-bar">
        <select class="search-select">
            <option value="all">All</option>
            <option value="student">Artwork Name</option>
            <option value="artwork">Student Name</option>
            <option value="genre">Genre</option>
        </select>
        <button type="button" class="search-btn">Search</button>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links">
        <li><a href="/pages/about.html">About</a></li>
        <li><a href="/pages/contact.html">Contact Us</a></li>

        <!-- Profile Dropdown -->
         <!-- TODO: dropdown-container img should be expandable -->
        <li class="dropdown-container">
            <a href="/pages/login.html" class="dropdown-trigger">
                <img src="/assets/images/profile_icon.png" alt="Profile" class="nav-profile">
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a href="#"><img src="" alt="Profile">Profile</a>
                    <a href="#"><img src="" alt="Account">Account</a>
                    <a href="#"><img src="" alt="Settings">Settings</a>
                    <a href="#"><img src="" alt="Accessibility">Accessibility</a>
                    <a href="#"><img src="" alt="Notifications">Notifications</a>
                </div>
            </div>
        </li>
    </ul>
</header>
<script src="/js/include.js"></script>