<div class="sidebar">
    <h2 class="brand">Admin Panel</h2>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <a href="admin_dashboard.html" class="menu-link">Dashboard</a>
        </li>
        <li class="menu-item">
            <a href="useradmin.html" class="menu-link">Users</a>
        </li>
        <li class="menu-item">
            <a href="admin_portfolios.html" class="menu-link">Works</a>
        </li>
        <li class="menu-item">
            <a href="admin_requests.html" class="menu-link">Requests</a>
        </li>
        <li class="menu-item">
            <a href="admin_settings.html" class="menu-link">Settings</a>
        </li>
        <li class="menu-item logout-item">
            <a href="/pages/login.html" class="logout-link">Logout</a>
        </li>
    </ul>
</div>